@page "/v2/counter"
@using Microsoft.AspNetCore.Html
@using System.ComponentModel.DataAnnotations

@rendermode InteractiveServer

<PageTitle>Session</PageTitle>

<h1>Session</h1>

<div class="container-fluid">
    <EditForm Model="@Model" OnValidSubmit="OnSubmit" class="col-md-4" FormName="Session">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-2">
            <label for="session-message" class="form-label">Session Message:</label>
            <InputText id="session-message" class="form-control" @bind-Value="Model.MuminID" />
        </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>
</div>


@code {
    [SupplyParameterFromForm]
    public SessionModel Model { get; set; } = new();

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (HttpContext != null)
        {
            var webHttpContext = ((System.Web.HttpContext)HttpContext);
            if (webHttpContext != null && webHttpContext.Session != null && string.IsNullOrEmpty(Model.MuminID))
            {
                Model.MuminID = webHttpContext.Session["Mumin_ID"]?.ToString() ?? string.Empty;
            }
        }

        return base.OnInitializedAsync();
    }

    private void OnSubmit()
    {
        if (HttpContext != null)
        {
            var webHttpContext = ((System.Web.HttpContext)HttpContext);
            if (webHttpContext != null && webHttpContext.Session != null)
            {
                webHttpContext.Session["Mumin_ID"] = Model.MuminID;
            }
        }
    }

    public class SessionModel
    {
        public string MuminID { get; set; }
    }
}